#navbar{
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar>div{
    display: flex;
    justify-content: space-between;
    width:95%;
    height: 80%;
    /* border: 1px solid; */
}
#logoContainer{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#logoContainer>div:last-child{
    font-size: 600%;
    line-height: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#LinkContainer{
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}
#LinkContainer>div:first-child{
    border-bottom: 2px solid;
    height: 25px;
    width: 100px;
    text-align: left;
    font-size: large;
    cursor: pointer;
}
#LinkContainer>div:last-child{
    height: 25px;
    width:70px;
    text-align: left;
    font-size: large;
    cursor: pointer;
}